<div class ='story-body'>
</div>
  <div class="story-body scrollytelling">    
      <div id="claims" class="chart"></div>

      <div class="steps">
        <div class='step' id='reset'>
          <h4>Benefits At Risk</h4>
          <p> The ReSource calculated that nearly half a million workers in the Ohio Valley have lost their supplemental $300 weekly unemployment benefits.</p>
          <p>The chart shows weekly continued claims in <span style='padding:3px;background-color:red;color:white;'>Kentucky</span>, <span style='padding:3px;background-color:slateblue;color:white;'>Ohio</span> and <span style='padding:3px;background-color:orange;color:white;'>West Virginia</span> for the Pandemic Emergency Unemployment Compensation (PEUC), a CARES Act program that allows workers to file for 13 weeks of unemployment benefits after their state-level benefits expire.</p>
          <p>The number of workers who continue to receive these unemployment benefits have declined since January 2021.</p>
          <p>As of June 5, more than 152,952 workers, or 2% of the labor force, in the Ohio Valley had ongoing claims for the benefits under this program.</p> 
        </div>
        <div class="step" id="pua_claims">
          <h4>Other Federal Benefit Claims Falling</h4>
          <p>The chart shows weekly continued benefit claims for Pandemic Unemployment Assistance (PUA), another CARES Act program that helped states expand the pool of eligible workers to independent contractors, “gig” workers, students and youth who aren't ordinarily beneficiaries of the state unemployment insurance.</p>

         <p> Combined, 5% of the workers in <span style='padding:3px;background-color:red;color:white;'>Kentucky</span>, <span style='padding:3px;background-color:slateblue;color:white;'>Ohio</span> and <span style='padding:3px;background-color:orange;color:white;'>West Virginia</span> are receiving federal unemployment benefits under these two programs. </p>
        </div>
        <div class="step" id="ohpua_claims">
            <h4>... <span style='padding:3px;background-color:slateblue;color:white;'> in Ohio</span> </h4>
            
           <p>A majority of currently unemployed workers in the state receive benefits under the Pandemic Unemployment Assistance. Those numbers have gone down recently.</p> 
            
        </div>
        <div class="step" id="insured_unemploy_rate">
            <h4>Insured Unemployment Rate</h4>
            <p>At the height of the pandemic, more than 15% of workers in <span style='padding:3px;background-color:red;color:white;'>Kentucky</span>, <span style='padding:3px;background-color:slateblue;color:white;'>Ohio</span> and <span style='padding:3px;background-color:orange;color:white;'>West Virginia</span> received unemployment benefits as shown by the steep rise in April 2020.</p>
            <p>The insured unemployment rate measures the number of workers in the labor force who have ongoing benefit claims. This number, a proxy for the unemployment rate, has declined more than 10% from its pandemic high. </p>
            
        </div>
        <div class="step" id="initial_claims">
            <h4>Ky. Claims Tick Up </h4>
            <p>Initial claims are new unemployment benefits applications that give a sense of how many people are losing or leaving jobs.</p>
            <p>In the week ending June 12, initial claims in  <span style='padding:3px;background-color:red;color:white;'>Kentucky</span> rose by 9,186 from a week earlier – among the states with the highest increase in new unemployment filings in the country.</p>

            
        </div>
        <div class="step" id="first_payments">
            <h4>Benefit Exhaustions</h4>
            <p>The chart shows the number of people who received their first payment of unemployment benefits by week.</p>
            <p>First payment data is a proxy for the number of beneficiaries for an unemployment insurance program. While the number of beneficiaries decreased as economies opened up, there are still hundreds of thousands of workers who depend on these benefits.</p>

            <p class='note'><b>Source: Department of Labor</b></p>
            <p class='note'><b>Definition source: Century Foundation</b></p>

            <p class='note'><b>Design: Suhail Bhat / Ohio Valley Resource</b></p>
          </div>

      </div>

  </div>
<script src="scripts/claims.js"></script>
