<h2 class='graphic_headline'>Jobless Rates In Ohio Valley Are Declining Faster Than Nationwide Average Rates</h2>
<div id="unemployment_rate"></div>

<div id="county-active" > 
<h3>Unemployment Rates By County</h3>
<p>2020 Annual Averages (%)</p>
<img src="/images/unemployment_county_trans.png"> </div>
<p class='note'>Source: Department of Labor</p>
<p class='note'>Suhail Bhat / Ohio Valley ReSource</p>
      

<script src="scripts/unemployment.js"></script>
