<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="styles/style.css">
  <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
  {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>
<body>
  {{> base/headline }}

  <main id='content'>

    {{{body}}}
  </main>

  <!-- We'll always keep this JS file around -->
  {{!-- <script src="scripts/vendor/ai2html-resizer.js"></script> --}}

</body>
</html>