{{!< default}}
{{> story/claims }}


{{!-- <iframe style="border: 0px;" src="https://local.wfpl.org/wfpl/2021_06_uncounted_deaths/index.html" width="100%" height="600px" scrolling="yes"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>
</iframe> --}}

<!-- A few custom styles for this particular homework -->

<style>
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  #chart-1 .axis line {
    stroke: #999;
    stroke-width: 0.5;
    stroke-dasharray: 3 2;
  }

  p small {
    background: #fff880;
  }

  .colored-text {
    padding: 1px 7px;
    display: inline-block;
  }
</style>

<!-- A few extra styles to make things responsive even in Bootstrap -->
<link rel="stylesheet" href="styles/responsive.css">

<script src="scripts/scrollytelling.js"></script>